$header: #00B902;
$titulo: rgb(175, 247, 60);
$titulo-mapa: rgb(0, 252, 0);
$footer: aliceblue;
$button: rgba(43, 250, 7, 0.9);
$contacto-label: rgb(85, 116, 85);

$lista: (
    "verde": #00B902,
    "verde-claro": rgb(175, 247, 60),
    "verde-apagado": rgb(85, 116, 85),
    "verde1": rgb(0, 252, 0),
    "verde-brillante": rgba(43, 250, 7, 0.9),
    "blanco": aliceblue,
    )